@import 'red-style.scss';
//@import 'blue-style.scss';
html {
    font-size: 100%;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    margin: 2px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    border: 1px solid black;
    padding: 30px;
    width: 150px;
    height: 100px;
}

.principal-font,
.secondary-font {
    padding: 10px 0;
}